APP	         ICON                    "../ui/app.ico"
new	         ICON "../icons/new.ico"
open	         ICON "../icons/open.ico"
save           ICON "../icons/save.ico"

box	         ICON "../icons/box.ico"
poly	         ICON "../icons/poly.ico"
wire	         ICON "../icons/wire.ico"
text	         ICON "../icons/text.ico"

undo	         ICON "../icons/undo.ico"
redo	         ICON "../icons/redo.ico"
delete	      ICON "../icons/delete.ico"
cut_with_poly	ICON "../icons/cut_with_poly.ico"
zoom_all       ICON "../icons/zoom_all.ico"
zoom_in	      ICON "../icons/zoom_in.ico"
zoom_out       ICON "../icons/zoom_out.ico"
ruler	         ICON "../icons/ruler.ico"

copy 	         ICON "../icons/copy.ico"
move	         ICON "../icons/move.ico"
rotate_left   	ICON "../icons/rotate_left.ico"
rotate_right	ICON "../icons/rotate_right.ico"
flipx	         ICON "../icons/flipx.ico"
flipy	         ICON "../icons/flipy.ico"
edit_push      ICON "../icons/edit_push.ico"
edit_pop       ICON "../icons/edit_pop.ico"

toped16x16     ICON "../ui/toped_16x16.ico"
toped32x32     ICON "../ui/toped_32x32.ico"
toped48x48     ICON "../ui/toped_48x48.ico"
#include "wx/msw/wx.rc"
